@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #0ef;
    --secondari-bg-color: black;
    --text-color: black;
    --main-color: #fff;
}

html {
    font-size:  62.5%;
    overflow: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    /* display: flex; */
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    /* justify-content: space-between; */

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--secondari-bg-color);
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 2.5rem;
    color: var(--bg-color);
    font-weight: 600;
    cursor: default;

}

.navbar a {
    font-size: 1.7rem;
    color: var(--bg-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar :hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--bg-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-img {
    width: 40vw;
    padding-left: 170px;
    /* padding-bottom: 10px; */

}

.home-img img {
    /* min-height: 300px; */
    /* width: 300px; */
    background-color: var(--secondar-bg-color);
    border-radius: 10%;
    box-shadow: 0 0 15px var(--secondari-bg-color);
}

/* .home-img::before {
    content: '';
    position: absolute;
    width: 180px;
    height: 140%;
    background-color: #fff;
    box-shadow: 0 0 20px rgb(8, 8, 8);
    animation: animate 4s linear infinite;
}

.home-img::after {
    content: '';
    position: absolute;
    inset: 10px;
    background-color: rgb(4, 75, 97);
    border-radius: 16px;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom:  2rem;

}

/* span {
    color: var(--main-color);
    text-shadow: 0 0 1px var(--main-color);
} */
.home-content h1 {
    color: var(--main-color);
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    text-shadow: 0 0 2px var(--main-color);
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--secondari-bg-color);
    border-radius: 10%;
    font-size: 4rem;
    color:var(--secondari-bg-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    box-shadow: 0 0 6px var(--secondari-bg-color);

}

.social-media a:hover {
    background: var(--secondari-bg-color);
    color: var(--bg-color);
    /* box-shadow: 0 0 1rem var(--secondari-bg-color); */
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--secondari-bg-color);
    border-radius:1rem;
    box-shadow: 0 0 1rem var(--secondari-bg-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    font-weight: 600;
    transition: .5s ease;
    margin-left: 50px;
}

.btn:hover {
    box-shadow: none;
}